.inward-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
  margin: auto;

  .form-title {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  .MuiTextField-root {
    margin-bottom: 16px;
  }

  .MuiButton-root {
    background-color: #007bff;
    &:hover {
      background-color: #0056b3;
    }
  }

  .MuiSelect-root {
    background-color: #fff;
  }
}
